{% extends "header.html" %}

{% load static %}

{% block content %}
<main>
    <!-- Creamos la oferta de coWork -->
    <section class="contenedor">
        <h2 class="titulo">Registrate</h2>
        <div>
            <form action="#" method="post">
                <div class="input-group mb-3 ">
                    <span class="input-group-text">Nombre Completo</span>
                    <input type="text" aria-label="First name" class="form-control" placeholder="Nombres ">
                    <input type="text " aria-label="Last name " class="form-control" placeholder="Apellidos">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Correo electrónico</span>
                    <input type="email" aria-label="Email" class="form-control" placeholder="Correo electrónico ">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Usuario</span>
                    <input type="text" aria-label="Username" class="form-control" placeholder="Usuario ">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Contraseña</span>
                    <input type="password" aria-label="Password" class="form-control" placeholder="Contraseña ">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Dirección</span>
                    <input type="text" aria-label="Address" class="form-control" placeholder="Dirección ">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Teléfono</span>
                    <input type="phone" aria-label="Phone number" class="form-control" placeholder="Teléfono ">
                </div>
                <button type="button submit" class="btn btn-primary">Enviar Registro</button>
            </form>
        </div>
    </section>
</main>
{% endblock %}